---
import Section from "./Section.astro";

const title = "Precios";
const subtitle = "Elige el servicio que mejor se adapte a tus necesidades";

const prices = [
  {
    name: "Lavado Exterior",
    price: "$250 - $300 MXN",
    details: [
      "Duración: 45 minutos a 1 hora",
      "Lavado exterior",
      "Limpieza de rines",
      "Llantas",
      "Encerado",
      "Hidratación de plásticos",
      "Secado a mano",
    ],
  },
  {
    name: "Servicio Interior",
    price: "$600 - $800 MXN",
    details: [
      "Duración: 2 a 3 horas",
      "Aspirado Profundo",
      "Limpieza de Tapetes",
      "Limpieza de Habitáculo",
      "Eliminación de malos olores sutil",
      "Hidratación de plásticos",
    ],
  },
  {
    name: "Detallado Total",
    price: "$1,400 - $1,600 MXN",
    details: [
      "Duración: 3 a 4 horas",
      "Servicio Exterior",
      "Servicio Interior",
      "Eliminación de Manchas",
      "Eliminación de malos olores",
      "Limpieza Profunda de Asientos",
      "Tratamiento Especial para Cuero",
      "Desinfección por Vapor",
    ],
  },
  {
    name: "Servicio de Asientos",
    price: "$800 - $1,000 MXN",
    details: [
      "Duración: 2 a 3 horas",
      "Aspirado Profundo",
      "Retiro y Reinstalación de Asientos",
      "Eliminación de Manchas",
      "Eliminación de malos olores",
      "Desinfección por Vapor",
      "Tratamiento Especial para Cuero",
    ],
  },
  {
    name: ["¡PROMOCIÓN!", "Febrero y Marzo"],
    price: "$400 MXN!",
    details: [
      "Duración: 2 a 3 horas",
      "Servicio Exterior",
      "Servicio Interior",
    ],
  },
];
---

<Section title={title} subtitle={subtitle} color="white" id="precios">
  <section
    class="relative bg-[#13151a] text-white py-16 min-h-auto overflow-hidden"
  >
    <div slot="body" class="relative z-20 px-8 mx-auto max-w-7xl">
      <h2 class="text-3xl font-bold text-center">{title}</h2>
      <p class="mt-4 text-lg text-center text-gray-300">{subtitle}</p>
    </div>
  </section>

  <!-- Contenedor de Precios -->
  <div
    slot="body"
    class="relative z-20 flex flex-wrap justify-center gap-6 px-6 mt-8"
  >
    {
      prices.map((service) => (
        <div class="max-w-sm p-6 text-center text-white transition-all duration-500 translate-y-6 bg-gray-900 border border-gray-700 shadow-lg opacity-0 service-card rounded-2xl hover:scale-105">
          <h3 class="text-xl font-semibold">
            {Array.isArray(service.name) ? (
              <>
                {service.name[0]}
                <span class="block text-sm font-normal text-cyan-300">
                  {service.name[1]}
                </span>
              </>
            ) : (
              service.name
            )}
          </h3>
          <p class="mt-2 text-lg font-bold text-cyan-400">{service.price}</p>
          <ul class="mt-4 text-sm text-left text-gray-400 list-disc list-inside">
            {service.details.map((detail) => (
              <li>{detail}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>

  <img
    slot="background"
    src="/public/Servicios.jpg"
    alt="Background Servicios"
    class="absolute inset-0 z-0 object-cover w-full h-full pointer-events-none opacity-10"
  />

  <section slot="footer" class="flex justify-center mx-auto mt-12 gap-x-6">
    <a
      class="inline-flex items-center justify-center px-12 py-2 text-sm font-medium text-white transition-all rounded bg-cyan-700 hover:bg-slate-400 hover:text-black hover:scale-105"
      href="#contacto"
    >
      Contacto
    </a>
  </section>
</Section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".service-card");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("opacity-100", "translate-y-0");
          }
        });
      },
      { threshold: 0.3 }
    );

    cards.forEach((card) => observer.observe(card));
  });
</script>
