---
const { color, title, subtitle, id, showFooterContent } = Astro.props as {
  color: keyof typeof colorMap;
  title: string;
  subtitle: string;
  id: string;
  showFooterContent: boolean;
};

const colorMap = {
  white: "text-white",
  black: "text-black",
  red: "text-red-500",
  // Agrega más colores según sea necesario
};
const textColor = colorMap[color] || "text-gray-500"; // Color por defecto

import FooterMenu from "./FooterMenu.astro";
---

<section
  class="relative flex flex-col items-center justify-center w-full min-h-screen overflow-hidden text-center bg-black landing-section"
  data-header-color={color}
  id={id}
>
  <div class="relative z-30 flex flex-col items-center w-full min-h-screen">
    <!-- Header -->
    <header class="flex flex-col items-center pt-40">
      <h2 class={`${textColor} text-[40px] font-medium`}>{title}</h2>
      <p class={`${textColor} text-sm`}>{subtitle}</p>
    </header>

    <!-- Contenedor de contenido principal -->
    <div class="relative z-20 flex-grow w-full">
      <slot name="body" />
    </div>

    <!-- Footer -->
    <footer class="flex flex-col items-center justify-end flex-grow pb-20">
      <slot name="footer" />
      {showFooterContent && <FooterMenu />}
    </footer>
  </div>

  <!-- Fondo de la sección (video o imagen) -->
  <div class="absolute inset-0 z-10">
    <slot name="background">
      <!-- Contenido de fondo por defecto -->
      <div class="bg-gray-800 opacity-75"></div>
    </slot>
  </div>
</section>
