---
import Section from "./Section.astro";

const title = "Servicio Completo";
const subtitle = "Revive la belleza de tu auto con nuestro servicio completo";

// Videos del carrusel
const videos = [
  {
    src: "../public/completo1.mp4",
    alt: "Trabajo de detallado interior en una Jeep Mojave con acabados en rojos y oscuros",
  },
  {
    src: "../public/completo2.mp4",
    alt: "Trabajo de exterior en una Honda CR-V Gris",
  },
  {
    src: "../public/completo3.mp4",
    alt: "Trabajo de detallado exterior en un BMW 528i Gris ",
  },
  {
    src: "../public/completo4.mp4",
    alt: "Trabajo de detallado exterior en un Mercedes AMG GLA 250 Blanco",
  },
  {
    src: "../public/completo5.mp4",
    alt: "Trabajo de detallado exterior en una Honda CR-V Roja",
  },
];

const description = `En Nates Detailing, ofrecemos el servicio m谩s completo para transformar tu auto y devolverle su mejor versi贸n. Este paquete incluye:

Exterior
Lavado detallado con shampoo cer谩mico para una limpieza profunda y protecci贸n adicional de la pintura.
Limpieza exhaustiva de llantas y rines, eliminando suciedad y residuos de hierro para un acabado impecable.
Aplicaci贸n de cera en pasta con efecto hidrof贸bico, que protege la pintura y proporciona un brillo duradero.
Revitalizaci贸n y acondicionamiento de pl谩sticos exteriores, devolviendo su color y textura original.
Interior
Limpieza a profundidad del habit谩culo, eliminando polvo y suciedad de cada rinc贸n.
Aspirado completo, incluyendo 谩reas dif铆ciles, y eliminaci贸n de pelos de mascota.
Limpieza y acondicionamiento de asientos, ya sean de tela o piel, para un acabado fresco y renovado.
Hidrataci贸n de pl谩sticos y superficies interiores para un aspecto cuidado.
Eliminaci贸n de olores y tratamiento con vapor para una frescura insuperable.
Removemos los asientos para garantizar una limpieza detallada en todas las zonas.
Detalles del Servicio
Costo: $1,800 - $2,200 MXN (var铆a seg煤n el estado y tama帽o del veh铆culo).
Duraci贸n: 5 - 6 horas.
Llevamos nuestra experiencia directamente a la puerta de tu casa para que no te preocupes por nada. Nates Detailing, donde cada detalle cuenta.

 隆Agenda tu cita hoy y haz que tu auto luzca como nuevo!`;
---

<Section title={title} subtitle={subtitle} color="white" id="servicioCompleto">
  <div slot="body" class="flex flex-col items-center gap-8 mt-8">
    <!-- Carrusel de Videos -->
    <div class="flex justify-center w-full md:w-2/3 lg:w-1/2">
      <!-- Ajustar el tama帽o de los videos aqu铆 -->
      <div
        class="relative w-full max-w-xs overflow-hidden rounded-lg shadow-lg sm:max-w-sm lg:max-w-md"
      >
        <div
          id="carouselCompleto"
          class="relative z-0 flex transition-transform duration-500 ease-in-out"
        >
          {
            videos.map((video, index) => (
              <div class="relative flex-shrink-0 w-full">
                <video
                  src={video.src}
                  class="object-cover w-full h-full"
                  loop
                  autoplay
                  muted
                  preload="metadata"
                  playsinline
                />
              </div>
            ))
          }
        </div>
        <!-- Controles -->
        <button
          id="prevCompleto"
          aria-label="Video anterior"
          class="absolute z-10 px-3 py-2 text-white -translate-y-1/2 bg-black bg-opacity-50 rounded-full top-1/2 left-4 hover:bg-opacity-75"
        >
          &larr;
        </button>
        <button
          id="nextCompleto"
          aria-label="Video siguiente"
          class="absolute z-10 px-3 py-2 text-white -translate-y-1/2 bg-black bg-opacity-50 rounded-full top-1/2 right-4 hover:bg-opacity-75"
        >
          &rarr;
        </button>
      </div>
    </div>

    <!-- Descripci贸n del servicio -->
    <div class="w-full text-center md:w-3/4 lg:w-1/2">
      <p class="text-lg text-gray-300">{description}</p>
    </div>
  </div>

  <img
    slot="background"
    src="../public/Servicios.jpg"
    alt="Background Servicios"
    class="absolute inset-0 object-cover w-full h-full pointer-events-none opacity-10 z-[-1]"
  />
</Section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const videos = document.querySelector("#carouselCompleto") as HTMLElement;
    const prevButton = document.querySelector("#prevCompleto");
    const nextButton = document.querySelector("#nextCompleto");

    let currentIndex = 0;

    function updateCarousel() {
      const offset = currentIndex * -100; // Mueve el carrusel en base al 铆ndice
      videos.style.transform = `translateX(${offset}%)`;

      // Pausar los videos fuera de vista
      Array.from(videos.children).forEach((video, index) => {
        const videoElement = video.querySelector("video");
        if (videoElement) {
          if (index === currentIndex) {
            videoElement.play();
          } else {
            videoElement.pause();
          }
        }
      });
    }

    if (prevButton) {
      prevButton.addEventListener("click", () => {
        currentIndex =
          (currentIndex - 1 + videos.children.length) % videos.children.length;
        updateCarousel();
      });
    }

    if (nextButton) {
      nextButton.addEventListener("click", () => {
        currentIndex = (currentIndex + 1) % videos.children.length;
        updateCarousel();
      });
    }

    // Inicializa el carrusel
    updateCarousel();
  });
</script>

<style>
  #carouselCompleto video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
